/* Application-wide Styles */
body,
input,
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

.title {
  font-size: 1.5rem;
  color: grey;
  font-weight: bold;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
